.player-circle-others {
    -fx-fill: #4b9cd3;
}

.player-circle-currentplayer {
   -fx-fill: #FFC72C;
}

/* Player Label */
.playerLabel {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 10px;
}

/* Player Selection Box (Background and Padding) */
.player-selection-box{

    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

.player-selection-box.others{
    -fx-background-color: linear-gradient(to bottom, rgba(95, 146, 180,0.5), rgba(60, 110, 143,0.5));
}

.player-selection-box.currentplayer{
    -fx-background-color: linear-gradient(to bottom, rgba(255, 223, 107, 0.5), rgba(255, 183, 0, 0.5));
}

/* Corrupter Role Color */
.corrupt-role-label {
    -fx-text-fill: rgb(219, 57, 62); /* Corrupt Role Color */
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

/* "You" Label */
.you-label {
    -fx-text-fill: snow;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
